.chat-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #213547;
    color: #fff;
    padding-left: 1em;
    margin-left: 2em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #213547 #213547;
}

.chat-list h2 {
    color: #fff;
    margin-bottom: 1em;
}

.chat-item {
    background: #031D31;
    border-radius: 6px;
    padding: 0.75em 1em;
    margin-bottom: 0.75em;
    width: 80%;
    cursor: pointer;
    transition: background 0.2s;
}

.chat-item:hover {
    background: #334155;
}

.chat-item.selected {
    background: #5d6f88;
    color: #fff;
}